# Backend
backend/venv/
backend/.env
backend/__pycache__/
backend/app/__pycache__/
backend/app/routes/__pycache__/
backend/app/models/__pycache__/
backend/app/models/t5_qg_model/
*.pyc

# Frontend
frontend/node_modules/
frontend/build/

# General
.DS_Store

# AI for problem solving and help
.claude/skills/